.Box {
    height: 100px;
    width: 100px;
    background-color: lightblue;
    margin: 5px;
    text-align: center;
}

.FirstClass {
    height: 150px;
    width: 150px;
    background-color: lightblue;
    border: 1px;
    color : black;
}